div {
    background-color: yellowgreen;
    border: 1px black solid;
    width: 200px;
    height: 100px;
    margin: 20px 40px;
    padding: 60px;
    overflow: hidden;
}

span {
    display: inline-block;
    background-color: palevioletred;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    margin: 20px 40px;
    padding: 60px;
    box-sizing: border-box;
}