.carousel-inner {
    height: 600px;
    position: relative;
}

@media screen and (max-width: 767px) {
    .slider .caption {
        width: 100%;
    }

    .flatPrice {
        right: 0;
        top: 85%;
    }
}

@media screen and (min-width: 768px) {
    .slider .caption {
        width: 40%;
        left: 20%;
    }

    .flatPrice {
        top: 60%;
        left: 60%;
    }
}

.slider .caption {
    padding: 2%;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    top: 25%;
}

.flatCaption {
    text-transform: uppercase;
    font-weight: bold;
    color: #222;
}

.address {
    font-style: italic;
}

.fa-map-marker {
    font-size: 24px;
    float: left;
}

.flatPrice {
    height: 55px;
    width: 280px;
    position: absolute;
    background-color: #00BFFF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
}