

body {
    font-family: 'Archivo', sans-serif;
    margin: 0 auto;
}
header {
    background-repeat: no-repeat;
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 800px;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
    position: relative;
    overflow: hidden;
}
.caption {
    position: absolute;
    transition-duration: 300ms;
    opacity: 0;
}

.caption1, .caption2 {
    color: #ffee00;
}

.caption1 {
    font-size: 60px;
    top:0;
    left: 20%; 
    transition-delay: 1.2s;  
    transition-timing-function: cubic-bezier(.17,.67,.46,1.1);
}

.caption2 {
    font-size: 80px;
    font-weight: bold;
    top: 40%;
    left: 0;
    transition-delay: 1.3s;  
    transition-timing-function: cubic-bezier(.05,-1.3,.31,1.86)
}

.caption3 {
    color: #ffffff;
    font-size: 40px; 
    top: 90%;
    left: 30%;
    transition-delay: 1.4s;  
    transition-timing-function: ease-in;
}

header:hover .caption1 {
    top:30%;
}

header:hover .caption2 {
    left:20%;
}

header:hover .caption3 {
    top:50%;
}

header:hover .caption {
    opacity: 1;
}

.boarder {    
    height: 400px;
    position: absolute;
    top: -300px;
    right:-700px;
    transition: all 1s cubic-bezier(.31,1.31,0,-1.61) 3s;

}

header:hover .boarder{
    height: 600px;
    top: 250px;
    right: 10%;
}
