@import url("https://unpkg.com/bootstrap@4.0.0-beta/scss/bootstrap.scss");
.container-fluid p {
  text-align: center; }

.container-fluid .heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
  font-size: 50px;
  text-transform: uppercase; }
  .container-fluid .heading::after {
    content: ' ';
    display: block;
    width: 8.5rem;
    height: 3px;
    margin: 0.6667em 0;
    background-color: #f9f600;
    margin: 0 auto; }

.container-fluid .small-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #c4c4c4;
  font-size: 14px;
  text-transform: uppercase; }

.container-fluid .caption {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
  font-size: 24px;
  text-transform: uppercase; }
  .container-fluid .caption:hover {
    color: #004eb3; }

.container-fluid .caption-small {
  color: #333333; }

.container-fluid button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #333333;
  padding: 15px 18px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box; }
  @media screen and (max-width: 767px) {
    .container-fluid button:hover {
      background-color: #004eb3; } }
  @media screen and (min-width: 768px) {
    .container-fluid button:hover {
      background-color: #f9f600; } }

.full-background, .top-section, .middle-section {
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat; }

.top-section {
  background-image: url(../images/bg.jpg);
  height: 700px; }

.middle-section {
  height: 600px;
  background-image: url(../images/bg2.jpg);
  box-sizing: border-box; }
