body {
    margin: 0
}

.clock {
    width: 200px;
    height: 200px;
    background-color: powderblue; 
    border-radius: 50%;
}

.handle {
    background-color: black;
    width: 5px;
    height: 70px;
    left: 50%;
    transform: translateX(100px);
    animation: clock 5s infinite; 
    transform-origin: center;
    
}

@keyframes clock{
    100% {
        transform: rotateZ(360deg);
    }
}

.menu {
    background-color: rgba(0,0,0,0.8);
    width: 300px;
    height: 100vh;
    position: absolute;
    left: -200px;
    top: 0;
  
}

.menu:hover {
    left: 0;
    animation-name: slideIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;  
    animation-fill-mode: forwards;  
      animation-name: slideIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

@keyframes slideIn {
    0% {
        left: -200px;
    } 

    30% {
        left: -50px;
    }

}

@keyframes beat {
    10% {
        transform: scale(1.5);
    }
    30% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.5);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.heart {
    animation: beat 1s infinite;
}


.container {
    width: 400px;
    height: 200px;
}
.container div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
}

.container :nth-child(1) {
    background-color: turquoise;
    animation: bounceIn 1s infinite;
}
.container :nth-child(2) {
    background-color: yellow;
     animation: bounceInDown 1s infinite;
}
.container :nth-child(3) {
    background-color: pink;
    animation: bounceInLeft 1s infinite;
}
.container :nth-child(4) {
    background-color: powderblue;
    animation: bounceInRight 1s infinite;
}
.container :nth-child(5) {
    background-color: green;
}