$slider-width: 100%;
$slider-height: 400px;
$num-of-slides: 5;
$step: (100%-10%)/$num-of-slides;

@keyframes slider {
    0% {left: 0;}
    
    @for $i from 1 through $num-of-slides {
        $frame: $step*$i;
        $position: ($i - 1)* -$slider-width;
        #{$frame} {
            left: $position;
        }
    }     

    100% {
         left: ($num-of-slides - 1) * -$slider-width;
    }  
}

.container {
    position: relative;
    width: $slider-width;
    height: $slider-height;
    overflow: hidden;

}

.slider {
    position: absolute;
    width: 500%;
    overflow-y: hidden;
    height: $slider-height;
    animation-name: slider;
    animation-duration: 5s;
    left: 0;
    display: flex;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.slider img {
    width: 100%;
    height: auto;   
    object-fit: cover; 
}