$slider-width: 300px;
$slider-height: 200px;

@keyframes slider {
    
    @for $i from 0 to 5 {
        $frame: 100%/5*$i;
        $position: ($i*-$slider-width);
        #{$frame} {
            left: $position;
        }
    }

    100% {
        left: -800px;
    }
}

.container {
    position: relative;
    width: $slider-width;
    height: $slider-height;
    overflow: hidden;
}

.slider {
    position: absolute;
    width: $slider-width;
    height: $slider-height;
    animation-name: slider;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    left: 0;
    animation-delay: 1s;
    display: flex;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.slider img {
    width: 100%;
}