.container  {
    position: relative;
    width: 800px;
    height: 500px;
    overflow: hidden;
}

.container img {
    position: absolute;
    transition: 3s ease;
    display: block;    
}

.container .city {
    width: 100%;
}

.container .guy {
    height: 100px;
    left: 350px;
    top: 350px;
}

.container:hover .guy {
    transform: scale(7);    
}

.container:hover .city {
    transform: scale(3);    
    height: 100%;
}
