p::first-letter {
    font-size: 20px;
    color: red;
}

p::first-line {
    font-variant: small-caps;
   color: green;
}

p::before {
    content: 'Start';
    color: blue;
}

p::after {
    content: '**';
}

p::selection {
    background-color: black;
    color: yellow;
}

a[href^='tel'] {
    color: grey;    
}

a[href^='tel']::before {
    content: url(phone.png);  
}